.hero-headphones {
   background-color: $primary-color;
   margin-bottom: 6rem;
   .hero-headphones-container {
      text-align: center;
      padding: 9.5rem 0;
      .hero-headphones-header {
         color: $secondary-color;
         text-transform: uppercase;
         font-size: 4rem;
         font-weight: $bold;
         letter-spacing: 1.4304px
      }
   }
}
.headphones {
   .headphones-container {
      display: grid;
      grid-template-columns: repeat(2, 40%);
      grid-template-rows: repeat(3, 60%);
      grid-gap: 100px 20px;
      justify-content: center;
      width: 95%;
      img {
         border-radius: 10px;
      }
      .xx99-mark-II-info {
         display: flex;
         flex-direction: column;
         justify-content: center;
         align-content: center;
         align-items: baseline;
         padding-left: 10rem;

         .xx99-mark-two-products {
            font-size: 1.4rem;
            text-transform: uppercase;
            letter-spacing: 1rem;
            color: $btn-links;
            font-weight: $light-font;
            margin-bottom: 1.8rem
         }
         .xx99-mark-two-header {
            font-size: 2.8rem;
            text-transform: uppercase;
            letter-spacing: 1px;
            font-weight: $semi-bold;
            width: 22rem;
            margin-bottom: 2.5rem;
            line-height: 3.4rem;
         }
         .xx99-mark-two-content {
            width: 100%;
            color: $font-color-2;
            font-size: 1.5rem;
            line-height: 2.4rem;
            margin-bottom: 2.5rem
         }
         .xx99-mark-two-button {
            background-color: $btn-links;
            color: $secondary-color;
         }
      }
      .xx99-mark-I-info {
         display: flex;
         flex-direction: column;
         justify-content: center;
         align-content: center;
         align-items: baseline;
         padding-left: 10rem;
         .xx99-mark-one-header {
            font-size: 2.8rem;
            text-transform: uppercase;
            letter-spacing: 1px;
            font-weight: $semi-bold;
            width: 22rem;
            margin-bottom: 2.5rem;
            line-height: 3.4rem;
         }
         .xx99-mark-one-content {
            width: 100%;
            color: $font-color-2;
            font-size: 1.5rem;
            line-height: 2.4rem;
            margin-bottom: 2.5rem
         }
         .xx99-mark-one-button {
            background-color: $btn-links;
            color: $secondary-color;
         }
      }
   }
}