.product-categories {
   margin-bottom: 15rem;

   .product-categories-container {
      .headphones-category-card {
         .headphones-title {
            font-size: 1.8rem;
            font-weight: $bold;
            letter-spacing: 0.1rem;
            text-transform: uppercase;
         }

         .headphone-links {
            display: flex;
            justify-content: space-between;
            align-content: center;
            align-items: center;
            padding: 1.9rem, 0;
            padding: 1.6rem 0rem;

            .headphone-link {
               font-size: 1.4rem;
               text-transform: uppercase;
               color: $font-color-2;
               font-weight: $semi-bold;
               letter-spacing: 1px;
               padding: 0 10px;
            }
         }

         &:hover {
            cursor: pointer;

            .headphone-link {
               transition: $transitions;
               color: $btn-links;
            }
         }

      }

      .speakers-category-card {
         .speakers-title {
            font-size: 1.8rem;
            font-weight: $bold;
            letter-spacing: 0.1rem;
            text-transform: uppercase;
         }

         .speaker-links {
            display: flex;
            justify-content: space-between;
            align-content: center;
            align-items: center;
            padding: 1.9rem, 0;
            padding: 1.6rem 0rem;

            .speaker-link {
               font-size: 1.4rem;
               text-transform: uppercase;
               color: $font-color-2;
               font-weight: $semi-bold;
               letter-spacing: 1px;
               padding: 0 10px;
            }
         }

         &:hover {
            cursor: pointer;

            .speaker-link {
               color: $btn-links;
               transition: $transitions;
            }
         }
      }

      .earphones-category-card {
         .earphones-title {
            font-size: 1.8rem;
            font-weight: $bold;
            letter-spacing: 0.1rem;
            text-transform: uppercase;
         }

         .earphone-links {
            display: flex;
            justify-content: space-between;
            align-content: center;
            align-items: center;
            padding: 1.9rem, 0;
            padding: 1.6rem 0rem;

            .earphone-link {
               font-size: 1.4rem;
               text-transform: uppercase;
               color: $font-color-2;
               font-weight: $semi-bold;
               letter-spacing: 1px;
               padding: 0 10px;
            }
         }

         &:hover {
            cursor: pointer;

            .earphone-link {
               color: $btn-links;
               transition: $transitions;
            }
         }
      }

   }
}

.zx9-speaker {
   margin-bottom: 5rem;

   .zx9-speaker-container {
      height: 560px;
      background-color: $btn-links;
      background-image: url('/img/home/desktop/pattern-circles.svg');
      background-repeat: no-repeat;
      background-position: bottom;
      background-size: 138px 200px;
      background-size: 81%;
      background-position-x: -163px;
      background-position-y: -54px;
      display: flex;
      border-radius: 10px;

      .zx9-speaker-left {
         background-image: url('/img/home/desktop/image-speaker-zx9.png');
         background-repeat: no-repeat;
         background-position: center;
         background-size: 375px;
         background-position-y: 117px;
         background-position-x: 108px;
         width: 60%;
         height: 100%;
         height: 100%;
      }

      .zx9-speaker-right {
         width: 40%;
         height: 100%;
         text-align: center;
         display: flex;
         justify-content: center;
         flex-direction: column;
         max-width: 34.9rem;

         .zx9-title {
            font-size: 6rem;
            width: 20px;
            color: $secondary-color;
            text-transform: uppercase;
            letter-spacing: 0.1rem;
            font-weight: bold;
            line-height: 56px;
            margin-bottom: 3rem;
         }

         .zx9-text {
            font-size: 1.5rem;
            font-weight: $extra-light-font;
            color: $secondary-color;
            letter-spacing: 0.1rem;
            opacity: .75;
            margin: 3.2rem 0;
            text-align: left;
         }

         .zx9-products {
            background-color: $primary-color;
            color: $secondary-color;
         }
      }
   }
}

.zx7-speaker {
   margin-bottom: 5rem;

   .zx7-speaker-container {
      position: relative;

      .zx7-speaker-products {
         position: absolute;
         display: flex;
         flex-direction: column;
         justify-content: center;
         align-content: center;
         top: 43px;
         left: 116px;
         height: 66%;
         padding-bottom: 20px;

         .zx7-title {
            text-transform: uppercase;
            color: $primary-color;
            font-weight: $semi-bold;
            font-size: 3rem;
            margin-bottom: 29px;
         }

         .zx7-products {
            border: 1px solid black;
         }
      }

      .zx7-image {
         border-radius: 10px;
      }

   }
}

.yx1-earphones {
   margin-bottom: 5rem;

   .yx1-earphones-container {
      display: flex;
      justify-content: space-between;

      .yx1-image {
         width: 50%;

         img {
            border-radius: 10px;
            width: 100%;
            height: auto;
         }
      }

      .yx1-earphone-products {
         width: 48%;
         height: auto;
         display: flex;
         justify-content: center;
         flex-direction: column;
         align-items: center;
         background-color: $category-cards;
         border-radius: 10px;

         .yx1-title {
            text-transform: uppercase;
            color: $primary-color;
            font-weight: $semi-bold;
            font-size: 3rem;
            margin-bottom: 29px;
         }

         .yx1-products {
            border: 1px solid black;

         }

      }
   }
}

.products-info {
   margin-bottom: 12rem;

   .products-info-container {
      display: flex;
      flex-direction: row-reverse;
      justify-content: space-between;

      .product-info-left {
         width: 48%;

         img {
            border-radius: 10px;
         }
      }

      .product-info-right {
         display: flex;
         flex-direction: column;
         justify-content: center;
         width: 52%;

         h2 {
            font-size: 4rem;
            padding-bottom: 4rem;
         }

         span {
            color: $btn-links;
            letter-spacing: 1.4304px;
            font-weight: $bold;
         }

         p {
            font-size: 15px;
            font-weight: $regular-font;
            line-height: 24.9px;
            color: rgb(0, 0, 0, 0.5);
            width: 86%;

         }
      }
   }
}

.audiophile-footer {
   background-color: $primary-color;
   .audiophile-footer-container {
      display: flex;
      justify-content: space-between;
      .audiophile-footer-left {
         width: 50%;
         display: flex;
         flex-direction: column;
         justify-content: center;

         .audiophile-footer-logo {
            padding-top: 9rem;
         }

         .audiophile-footer-content {
            padding: 5rem 0;

            p {
               line-height: 1.66;
               font-size: 1.5rem;
               color: $font-color-1;
               letter-spacing: 0.1rem;
               font-weight: $extra-light-font;
               opacity: .75;
               width: 111%;
            }
         }

         .audiophile-footer-copyright {
            p {
               line-height: 1.66;
               font-size: 1.5rem;
               color: $font-color-1;
               letter-spacing: 0.1rem;
               font-weight: $extra-light-font;
               opacity: .75;
               width: 111%;
            }
         }
      }

      .audiophile-info-right {
         width: 50%;
         display: flex;
         flex-direction: column;
         justify-content: center;

         .audiophile-footer-links {
            display: flex;
            justify-content: end;
            padding-bottom: 10rem;

            .audiophile-links {
               display: flex;
               justify-content: space-around;

               .link {
                  color: $secondary-color;
                  font-size: 1.4rem;
                  text-transform: uppercase;
                  letter-spacing: 1.75px;
                  font-weight: $medium-font;
                  opacity: .75;
                  width: 110%;
                  padding-left: 6rem;

                  &:hover {
                     cursor: pointer;
                     color: $btn-links;
                     transition: $transitions;
                  }
               }
            }
         }

         .audiophile-social-media-links {
            display: flex;
            justify-content: end;

            .facebook {
               padding-left: 3rem;
            }

            .twitter {
               padding-left: 3rem;
            }

            .instagram {
               padding-left: 3rem;
            }

         }
      }

   }
}