.product-categories {
   margin-bottom: 15rem;
   .product-categories-container {
      .headphones-category-card {
         .headphones-title {
            font-size: 1.8rem;
            font-weight: $bold;
            letter-spacing: 0.1rem;
            text-transform: uppercase;
         }
   
         .headphone-links {
            display: flex;
            justify-content: space-between;
            align-content: center;
            align-items: center;
            padding: 1.9rem, 0;
            padding: 1.6rem 0rem;
   
            .headphone-link {
               font-size: 1.4rem;
               text-transform: uppercase;
               color: $font-color-2;
               font-weight: $semi-bold;
               letter-spacing: 1px;
               padding: 0 10px;
            }
         }

         &:hover {
            cursor: pointer;
            .headphone-link {
               transition: $transitions;
               color: $btn-links;
            }
         }

      }
      
      .speakers-category-card {
         .speakers-title {
            font-size: 1.8rem;
            font-weight: $bold;
            letter-spacing: 0.1rem;
            text-transform: uppercase;
         }
         .speaker-links {
            display: flex;
            justify-content: space-between;
            align-content: center;
            align-items: center;
            padding: 1.9rem, 0;
            padding: 1.6rem 0rem;
   
            .speaker-link {
               font-size: 1.4rem;
               text-transform: uppercase;
               color: $font-color-2;
               font-weight: $semi-bold;
               letter-spacing: 1px;
               padding: 0 10px;
            }
         }

         &:hover {
            cursor: pointer;
            .speaker-link {
               color: $btn-links;
               transition: $transitions;
            }
         }
      }

      .earphones-category-card {
         .earphones-title {
            font-size: 1.8rem;
            font-weight: $bold;
            letter-spacing: 0.1rem;
            text-transform: uppercase;
         }
         .earphone-links {
            display: flex;
            justify-content: space-between;
            align-content: center;
            align-items: center;
            padding: 1.9rem, 0;
            padding: 1.6rem 0rem;
   
            .earphone-link {
               font-size: 1.4rem;
               text-transform: uppercase;
               color: $font-color-2;
               font-weight: $semi-bold;
               letter-spacing: 1px;
               padding: 0 10px;
            }
         }

         &:hover {
            cursor: pointer;
            .earphone-link {
               color: $btn-links;
               transition: $transitions;
            }
         }
      }

   }
}

.zx9-speaker {
   .zx9-speaker-container {
      height: 560px;
      background-color: $btn-links;
      background-image: url('/img/home/desktop/pattern-circles.svg');
      background-repeat: no-repeat;
      background-position: bottom;
      background-size: 138px 200px;
      background-size: 81%;
      background-position-x: -163px;
      background-position-y: -54px;
      display: flex;
      border-radius: 10px;
      .zx9-speaker-left{
         background-image: url('/img/home/desktop/image-speaker-zx9.png');
         background-repeat: no-repeat;
         background-position: center;
         background-size: 375px;
         background-position-y: 117px;
         background-position-x: 108px;
         width: 60%;
         height: 100%;
         height: 100%;
      }
      .zx9-speaker-right{
         width: 40%;
         height: 100%;
         text-align: center;
         display: flex;
         justify-content: center;
         flex-direction: column;
         max-width: 34.9rem;

         .zx9-title {
            font-size: 6rem;
            width: 20px;
            color: $secondary-color;
            text-transform: uppercase;
            letter-spacing: 0.1rem;
            font-weight: bold;
            line-height: 56px; 
            margin-bottom: 3rem;
         }
         .zx9-text {
            font-size: 1.5rem;
            font-weight: $extra-light-font;
            color: $secondary-color;
            letter-spacing: 0.1rem;
            opacity: .75;
            margin: 3.2rem 0;
            text-align: left;
         }
      }
   }
}