.product-categories {
   .product-categories-container {
      .headphones-title {
         font-size: 1.8rem;
         font-weight: $bold;
         letter-spacing: 0.1rem;
         text-transform: uppercase;
      }
      
   }
}