.hero-speakers {
   background-color: $primary-color;
   margin-bottom: 6rem;
   .hero-speakers-container {
      text-align: center;
      padding: 9.5rem 0;
      .hero-speakers-header {
         color: $secondary-color;
         text-transform: uppercase;
         font-size: 4rem;
         font-weight: $bold;
         letter-spacing: 1.4304px
      }
   }
}
.speakers {
   margin-bottom: 10rem;
   .speakers-container {
      display: grid;
      grid-template-columns: repeat(2, 49%);
      grid-template-rows: repeat(3, 60%);
      grid-gap: 100px 20px;
      justify-content: space-between;
      img {
         border-radius: 10px;
      
      }
      .zx9-speaker-info {
         display: flex;
         flex-direction: column;
         justify-content: center;
         align-content: center;
         align-items: baseline;
         padding-left: 10rem;

         .zx9-speaker-products {
            font-size: 1.4rem;
            text-transform: uppercase;
            letter-spacing: 1rem;
            color: $btn-links;
            font-weight: $light-font;
            margin-bottom: 1.8rem
         }
         .zx9-content-header {
            font-size: 2.8rem;
            text-transform: uppercase;
            letter-spacing: 1px;
            font-weight: $semi-bold;
            width: 22rem;
            margin-bottom: 2.5rem;
            line-height: 3.4rem;
         }
         .zx9-speaker-content {
            width: 104%;
            color: $font-color-2;
            font-size: 1.5rem;
            line-height: 2.4rem;
            margin-bottom: 2.5rem
         }
         .zx9-speaker-button {
            background-color: $btn-links;
            color: $secondary-color;
         }
      }
      .zx7-speaker-info {
         display: flex;
         flex-direction: column;
         justify-content: center;
         align-content: center;
         align-items: baseline;
         padding-right: 10rem;
         .zx7-speaker-header {
            font-size: 2.8rem;
            text-transform: uppercase;
            letter-spacing: 1px;
            font-weight: $semi-bold;
            width: 22rem;
            margin-bottom: 2.5rem;
            line-height: 3.4rem;
         }
         .zx7-speaker-content {
            width: 100%;
            color: $font-color-2;
            font-size: 1.5rem;
            line-height: 2.4rem;
            margin-bottom: 2.5rem
         }
         .zx7-speaker-button {
            background-color: $btn-links;
            color: $secondary-color;
         }
      }
   }
}