*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  font-family: "Manrope", serif;
}

.container {
  margin-inline: auto;
  width: min(95%, 111rem);
}

img,
svg {
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
}

.btn {
  width: 170px;
  border: none;
  padding: 15px;
  text-transform: uppercase;
}

.product-categories-container {
  display: flex;
  justify-content: space-between;
}
.product-categories-container .card {
  background-color: rgb(241, 241, 241);
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: center;
  border-radius: 10px;
  width: 350px;
  height: 195px;
}
.product-categories-container .product-image {
  height: 200px;
}

.hero {
  display: flex;
  -moz-box-pack: center;
  justify-content: center;
  padding: 0px 3rem;
  height: 63.8rem;
  background: rgb(25, 25, 25) none repeat scroll 0% 0%;
  z-index: 1;
  margin-bottom: 20rem;
}
.hero .hero-container {
  max-width: 1110px;
  width: 100%;
  display: flex;
  position: relative;
}
.hero .hero-container .hero-content {
  display: flex;
  flex-direction: column;
  -moz-box-pack: center;
  justify-content: center;
  max-width: 39.8rem;
  width: 100%;
  color: rgb(255, 255, 255);
  background: transparent none repeat scroll 0% 0%;
  z-index: 2;
}
.hero .hero-container .hero-content .hero-type-product {
  font-size: 1.4rem;
  color: rgba(255, 255, 255, 0.5);
  letter-spacing: 1rem;
  text-transform: uppercase;
  font-weight: 300;
  margin-bottom: 2rem;
}
.hero .hero-container .hero-content .hero-title {
  font-size: 6rem;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  font-weight: bold;
  line-height: 56px;
  margin-bottom: 3rem;
}
.hero .hero-container .hero-content .hero-text {
  font-size: 1.5rem;
  font-weight: 300;
  color: #fff;
  letter-spacing: 0.1rem;
  opacity: 0.75;
  margin: 3.2rem 0;
}
.hero .hero-container .hero-content .hero-btn {
  background-color: #d87d4a;
  color: #fff;
}
.hero .hero-container .hero-image {
  z-index: 1;
  position: absolute;
  display: flex;
  margin-top: 0.9rem;
  max-width: 111rem;
  min-width: 90rem;
  width: 100%;
  min-height: 58rem;
  background: url("/img/home/desktop/image-hero.jpg");
  background-size: 120%;
  background-repeat: no-repeat;
  background-position: 54% center;
  background-position-x: 54%;
  background-position-y: center;
  opacity: 1;
}

.testing {
  color: red;
}

.product-categories {
  margin-bottom: 15rem;
}
.product-categories .product-categories-container .headphones-category-card .headphones-title {
  font-size: 1.8rem;
  font-weight: 700;
  letter-spacing: 0.1rem;
  text-transform: uppercase;
}
.product-categories .product-categories-container .headphones-category-card .headphone-links {
  display: flex;
  justify-content: space-between;
  align-content: center;
  align-items: center;
  padding: 1.9rem, 0;
  padding: 1.6rem 0rem;
}
.product-categories .product-categories-container .headphones-category-card .headphone-links .headphone-link {
  font-size: 1.4rem;
  text-transform: uppercase;
  color: rgba(0, 0, 0, 0.494);
  font-weight: 600;
  letter-spacing: 1px;
  padding: 0 10px;
}
.product-categories .product-categories-container .headphones-category-card:hover {
  cursor: pointer;
}
.product-categories .product-categories-container .headphones-category-card:hover .headphone-link {
  transition: all 400ms ease;
  color: #d87d4a;
}
.product-categories .product-categories-container .speakers-category-card .speakers-title {
  font-size: 1.8rem;
  font-weight: 700;
  letter-spacing: 0.1rem;
  text-transform: uppercase;
}
.product-categories .product-categories-container .speakers-category-card .speaker-links {
  display: flex;
  justify-content: space-between;
  align-content: center;
  align-items: center;
  padding: 1.9rem, 0;
  padding: 1.6rem 0rem;
}
.product-categories .product-categories-container .speakers-category-card .speaker-links .speaker-link {
  font-size: 1.4rem;
  text-transform: uppercase;
  color: rgba(0, 0, 0, 0.494);
  font-weight: 600;
  letter-spacing: 1px;
  padding: 0 10px;
}
.product-categories .product-categories-container .speakers-category-card:hover {
  cursor: pointer;
}
.product-categories .product-categories-container .speakers-category-card:hover .speaker-link {
  color: #d87d4a;
  transition: all 400ms ease;
}
.product-categories .product-categories-container .earphones-category-card .earphones-title {
  font-size: 1.8rem;
  font-weight: 700;
  letter-spacing: 0.1rem;
  text-transform: uppercase;
}
.product-categories .product-categories-container .earphones-category-card .earphone-links {
  display: flex;
  justify-content: space-between;
  align-content: center;
  align-items: center;
  padding: 1.9rem, 0;
  padding: 1.6rem 0rem;
}
.product-categories .product-categories-container .earphones-category-card .earphone-links .earphone-link {
  font-size: 1.4rem;
  text-transform: uppercase;
  color: rgba(0, 0, 0, 0.494);
  font-weight: 600;
  letter-spacing: 1px;
  padding: 0 10px;
}
.product-categories .product-categories-container .earphones-category-card:hover {
  cursor: pointer;
}
.product-categories .product-categories-container .earphones-category-card:hover .earphone-link {
  color: #d87d4a;
  transition: all 400ms ease;
}

.zx9-speaker {
  margin-bottom: 5rem;
}
.zx9-speaker .zx9-speaker-container {
  height: 560px;
  background-color: #d87d4a;
  background-image: url("/img/home/desktop/pattern-circles.svg");
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: 138px 200px;
  background-size: 81%;
  background-position-x: -163px;
  background-position-y: -54px;
  display: flex;
  border-radius: 10px;
}
.zx9-speaker .zx9-speaker-container .zx9-speaker-left {
  background-image: url("/img/home/desktop/image-speaker-zx9.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 375px;
  background-position-y: 117px;
  background-position-x: 108px;
  width: 60%;
  height: 100%;
  height: 100%;
}
.zx9-speaker .zx9-speaker-container .zx9-speaker-right {
  width: 40%;
  height: 100%;
  text-align: center;
  display: flex;
  justify-content: center;
  flex-direction: column;
  max-width: 34.9rem;
}
.zx9-speaker .zx9-speaker-container .zx9-speaker-right .zx9-title {
  font-size: 6rem;
  width: 20px;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  font-weight: bold;
  line-height: 56px;
  margin-bottom: 3rem;
}
.zx9-speaker .zx9-speaker-container .zx9-speaker-right .zx9-text {
  font-size: 1.5rem;
  font-weight: 200;
  color: #fff;
  letter-spacing: 0.1rem;
  opacity: 0.75;
  margin: 3.2rem 0;
  text-align: left;
}
.zx9-speaker .zx9-speaker-container .zx9-speaker-right .zx9-products {
  background-color: #191919;
  color: #fff;
}

.zx7-speaker {
  margin-bottom: 5rem;
}
.zx7-speaker .zx7-speaker-container {
  position: relative;
}
.zx7-speaker .zx7-speaker-container .zx7-speaker-products {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  top: 43px;
  left: 116px;
  height: 66%;
  padding-bottom: 20px;
}
.zx7-speaker .zx7-speaker-container .zx7-speaker-products .zx7-title {
  text-transform: uppercase;
  color: #191919;
  font-weight: 600;
  font-size: 3rem;
  margin-bottom: 29px;
}
.zx7-speaker .zx7-speaker-container .zx7-speaker-products .zx7-products {
  border: 1px solid black;
}
.zx7-speaker .zx7-speaker-container .zx7-image {
  border-radius: 10px;
}

.yx1-earphones .yx1-earphones-container {
  display: flex;
  justify-content: space-between;
}
.yx1-earphones .yx1-earphones-container .yx1-image {
  width: 50%;
}
.yx1-earphones .yx1-earphones-container .yx1-image img {
  border-radius: 10px;
  width: 100%;
  height: auto;
}
.yx1-earphones .yx1-earphones-container .yx1-products {
  width: 48%;
  height: auto;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  background-color: rgb(241, 241, 241);
  border-radius: 10px;
}

.navbar-content {
  background-color: #191919;
}
.navbar-content .navbar-container {
  height: 9rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 0.628px rgba(255, 255, 255, 0.14) solid;
}
.navbar-content .navbar-container .navbar-logo {
  padding-top: 0.5rem;
}
.navbar-content .navbar-container .navbar-links {
  width: 450px;
}
.navbar-content .navbar-container .navbar-links .navbar-link-list {
  width: 450px;
  display: flex;
  justify-content: space-between;
}
.navbar-content .navbar-container .navbar-links .navbar-link-list .link {
  color: #fff;
  font-size: 1.4rem;
  text-transform: uppercase;
  letter-spacing: 1.75px;
  font-weight: 500;
  opacity: 0.75;
}
.navbar-content .navbar-container .navbar-links .navbar-link-list .link:hover {
  cursor: pointer;
  color: #d87d4a;
  transition: all 400ms ease;
}