*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  font-family: "Manrope", serif;
}

.container {
  margin-inline: auto;
  width: min(95%, 110rem);
}

a {
  text-decoration: none;
}

section {
  padding: 5rem 0;
}

.btn {
  width: 160px;
  border: none;
  padding: 15px;
  text-transform: uppercase;
}

.hero {
  background-color: #191919;
}
.hero .hero-container {
  text-align: left;
  padding: 12rem 0;
  background: url("/img/home/desktop/image-hero.jpg");
  background-size: contain;
}
.hero .hero-container .hero-type-product {
  color: rgba(255, 255, 255, 0.5);
  font-weight: 400;
  letter-spacing: 1rem;
  text-transform: uppercase;
  margin-bottom: 1.1rem;
  display: block;
  font-size: 1.4rem;
}
.hero .hero-container .hero-title {
  color: #fff;
  line-height: 1.1;
  font-size: 5.6rem;
  font-weight: 700;
  letter-spacing: 1.2896px;
  max-width: 50rem;
  text-transform: uppercase;
  margin-bottom: 2.5rem;
}
.hero .hero-container .hero-text {
  line-height: 1.7;
  color: rgba(255, 255, 255, 0.5);
  font-size: 1.5rem;
  max-width: 35rem;
  font-weight: 200;
  margin-bottom: 4rem;
}
.hero .hero-container .hero-btn {
  background-color: #d87d4a;
  color: #fff;
  letter-spacing: 0.15rem;
  font-size: 1.2rem;
}

.navbar-content {
  background-color: #191919;
  padding: 3.2rem 0;
}
.navbar-content .navbar-container {
  display: flex;
  justify-content: space-between;
  padding-bottom: 26px;
  border-bottom: 0.628px rgba(255, 255, 255, 0.14) solid;
}
.navbar-content .navbar-container .navbar-links {
  width: 450px;
}
.navbar-content .navbar-container .navbar-links .navbar-link-list {
  display: flex;
  justify-content: space-between;
}
.navbar-content .navbar-container .navbar-links .navbar-link-list .link {
  font-size: 1.4rem;
  text-transform: uppercase;
  letter-spacing: 0.125em;
  color: #fff;
}
.navbar-content .navbar-container .navbar-links .navbar-link-list .link:hover {
  cursor: pointer;
  color: #d87d4a;
  transition: all 400ms ease;
}