<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]>      <html class="no-js"> <!--<![endif]-->
<html>
<%- include('./partials/head.ejs') %>

<body>
   <%- include('./partials/nav.ejs')  %>
   <header class="hero">
      <div class="hero-container container">
         <div class="hero-content">
            <h4 class="hero-type-product">New Product</h4>
            <h1 class="hero-title">XX99 Mark II Headphones</h1>
            <p class="hero-text">Experience natural, life like audio and exceptional build quality made for the
               passionate music enthusiast.</p>
            <button class="hero-btn btn">See Product</button>
         </div>
         <div class="hero-image"></div>
      </div>
   </header>
   <section class="product-categories">
      <div class="product-categories-container container">
         <div class="headphones-category-card card">
            <img class="product-image" src="/img/shared/desktop/image-category-thumbnail-headphones.png" alt="Headphones Preview">
            <h4 class="headphones-title">Headphones</h4>
            <div class="headphone-links">
               <a class="headphone-link" href="#">
                  <p>Shop</p>
               </a>
               <img src="/img/shared/desktop/icon-arrow-right.svg" alt="Right Arrow">
            </div>
         </div>
         <div class="speakers-category-card card">
            <img class="product-image" src="/img/shared/desktop/image-category-thumbnail-speakers.png" alt="Speakers Preview">
            <h4 class="speakers-title">Speakers</h4>
            <div class="speaker-links">
               <a class="speaker-link" href="#">
                  <p>Shop</p>
               </a>
               <img src="/img/shared/desktop/icon-arrow-right.svg" alt="Right Arrow">
            </div>

         </div>
         <div class="earphones-category-card card">
            <img class="product-image" src="/img/shared/desktop/image-category-thumbnail-earphones.png" alt="Earphones Preview">
            <h4 class="earphones-title">Earphones</h4>
            <div class="earphone-links">
               <a class="earphone-link" href="#">
                  <p>Shop</p>
               </a>
               <img src="/img/shared/desktop/icon-arrow-right.svg" alt="Right Arrow">
            </div>
         </div>
      </div>
   </section>
   <section class="zx9-speaker">
      <div class="zx9-speaker-container container">
         <div class="zx9-speaker-left">
         </div>
         <div class="zx9-speaker-right">
            <h1 class="zx9-title">ZX9 Speaker</h1>
            <p class="zx9-text">Upgrade to premium speakers that are phenomenally built to deliver truly remarkable sound.</p>
            <button class="zx9-products btn">See Product</button>
         </div>
      </div>
   </section>
   <section class="zx7-speaker">
      <div class="zx7-speaker-container container">
         <div class="zx7-speaker-products">
            <h2 class="zx7-title">ZX7 Speaker</h2>
            <button class="zx7-products btn">See Product</button>
         </div>
         <img class="zx7-image" src="/img/home/desktop/image-speaker-zx7.jpg" alt="zx7 Speaker">
      </div>
   </section>
   <section class="yx1-earphones">
      <div class="yx1-earphones-container container">
         <div class="yx1-image">
            <img src="/img/product-yx1-earphones/desktop/image-gallery-2.jpg" alt="YX1 Earphones">
         </div>
         <div class="yx1-earphone-products">
            <h2 class="yx1-title">YX1 Earphones</h2>
            <button class="yx1-products btn">See Product</button>
         </div>
      </div>
   </section>
   <section class="products-info">
      <div class="products-info-container container">
         <div class="product-info-left">
            <img src="/img/shared/desktop/image-best-gear.jpg" alt="">
         </div>
         <div class="product-info-right">
            <h2>BRINGING YOU THE <span>BEST</span> AUDIO GEAR</h2>
            <p>Located at the heart of New York City, Audiophile is the premier store for high end headphones,
               earphones, speakers, and audio accessories. We have a large showroom and luxury demonstration
               rooms available for you to browse and experience a wide range of our products. Stop by our store
               to meet some of the fantastic people who make Audiophile the best place to buy your portable
               audio equipment.</p>
         </div>
      </div>
   </section>
   <footer class="audiophile-footer">
      <div class="audiophile-footer-container container">
         <div class="audiophile-footer-left">
            <div class="audiophile-footer-logo">
               <a href="#"><img src="/img/shared/desktop/logo.svg" alt="Audiophile Logo"></a>
            </div>
            <div class="audiophile-footer-content">
               <p>Audiophile is an all in one stop to fulfill your audio needs. We're a small team of music lovers
                  and sound specialists who are devoted to helping you get the most out of personal audio. Come and
                  visit our demo facility - we’re open 7 days a week.</p>
            </div>
            <div class="audiophile-footer-copyright">
               <p>Copyright 2021. All Rights Reserved</p>
            </div>
         </div>
         <div class="audiophile-info-right">
            <div class="audiophile-footer-links">
               <ul class="audiophile-links">
                  <li class="links">
                     <a class="link" href="#">Home</a>
                  </li>
                  <li class="links">
                     <a class="link" href="#">Headphones</a>
                  </li>
                  <li class="links">
                     <a class="link" href="#">Speakers</a>
                  </li>
                  <li class="links">
                     <a class="link" href="#">Earphones</a>
                  </li>
               </ul>
            </div>
            <div class="audiophile-social-media-links">
               <div class="facebook">
                  <a href="#"><img src="img/shared/desktop/icon-facebook.svg" alt="Facebook"></a>
               </div>
               <div class="twitter">
                  <a href="#"><img src="/img/shared/desktop/icon-twitter.svg" alt="Twitter"></a>
               </div>
               <div class="instagram">
                  <a href="#"><img src="/img/shared/desktop/icon-instagram.svg" alt="Instagram"></a>
               </div>
            </div>
         </div>
      </div>
   </footer>


</body>

</html>