.product-categories-container {
   display: flex;
   justify-content: space-between;
   
   .card {
      background-color: $category-cards;
      display: flex;
      flex-direction: column;
      justify-content: end;
      align-items: center;
      border-radius: 10px;
      width: 350px;
      height: 195px;
     
   }
   .product-image {
      height: 182px;
   }
}