.product-categories-container {
   display: grid;
   grid-template-columns: repeat(3, 32%);
   grid-gap: 100px 0px;
   justify-content: space-between;
  
   
   .card {
      background-color: $category-cards;
      display: flex;
      flex-direction: column;
      justify-content: end;
      align-items: center;
      border-radius: 10px;
      height: 195px;
     
   }
   .product-image {
      height: 182px;
   }
}