<section class="product-categories">
   <div class="product-categories-container container">
      <div class="headphones-category-card card">
         <img class="product-image" src="/img/shared/desktop/image-category-thumbnail-headphones.png"
            alt="Headphones Preview">
         <h4 class="headphones-title">Headphones</h4>
         <div class="headphone-links">
            <a class="headphone-link" href="/headphones">
               <p>Shop</p>
            </a>
            <img src="/img/shared/desktop/icon-arrow-right.svg" alt="Right Arrow">
         </div>
      </div>
      <div class="speakers-category-card card">
         <img class="product-image" src="/img/shared/desktop/image-category-thumbnail-speakers.png"
            alt="Speakers Preview">
         <h4 class="speakers-title">Speakers</h4>
         <div class="speaker-links">
            <a class="speaker-link" href="/speakers">
               <p>Shop</p>
            </a>
            <img src="/img/shared/desktop/icon-arrow-right.svg" alt="Right Arrow">
         </div>

      </div>
      <div class="earphones-category-card card">
         <img class="product-image" src="/img/shared/desktop/image-category-thumbnail-earphones.png"
            alt="Earphones Preview">
         <h4 class="earphones-title">Earphones</h4>
         <div class="earphone-links">
            <a class="earphone-link" href="/earphones">
               <p>Shop</p>
            </a>
            <img src="/img/shared/desktop/icon-arrow-right.svg" alt="Right Arrow">
         </div>
      </div>
   </div>
</section>