<nav class="navbar-content">
   <div class="navbar-container container">
      <div class="navbar-logo">
         <a href="#"><img src="/img/shared/desktop/logo.svg" alt="Audiophile Logo"></a>
      </div>
      <div class="navbar-links">
         <ul class="navbar-link-list">
            <li class="links">
               <a class="link" href="/">Home</a>
            </li>
            <li class="links">
               <a class="link" href="/headphones">Headphones</a>
            </li>
            <li class="links">
               <a class="link" href="/speakers">Speakers</a>
            </li>
            <li class="links">
               <a class="link" href="/earphones">Earphones</a>
            </li>
         </ul>
      </div>
      <div class="navbar-shopping-cart">
         <a href="#"><img src="/img/shared/desktop/icon-cart.svg" alt="Shopping Cart"></a>
      </div>
   </div>
</nav>