// Colors
$primary-color: #191919;
$secondary-color: #fff;
$btn-links: #d87d4a;

// Font Colors
$font-color-1: #8c8c8c;

// Font Family
$primary-font: 'Manrope', sans-serif;

// Font Weights
$medium-font: 500;
$semi-bold: 600;
$bold: 700;
$extra-bold: 800;

// Animation
$transitions: all 400ms ease;