// Colors
$primary-color: #191919;
$secondary-color: #fff;
$btn-links: #d87d4a;
$category-cards: rgb(241, 241, 241);

// Font Colors
$font-color-1: rgb(255, 255, 255, 0.5);

// Font Family
$primary-font: 'Manrope', serif;

// Font Weights
$extra-light-font: 200;
$light-font: 300;
$regular-font: 400;
$medium-font: 500;
$semi-bold: 600;
$bold: 700;
$extra-bold: 800;

// Animation
$transitions: all 400ms ease;